<mat-toolbar>
  <span class="title">{{ titleService.getTitle() }}</span>
  <span class="menu-buttons">
    <button mat-button (click)="goToLogin()" *ngIf="isNotLogged() | async">
      Login
    </button>
    <button mat-button (click)="goToLogout()" *ngIf="isLogged() | async">
      Logout {{ userName() | async }}
    </button>
    <button mat-button (click)="goToSecret()" *ngIf="isLogged() | async">
      Secret
    </button>
  </span>
</mat-toolbar>
<div class="body">
  <router-outlet></router-outlet>
</div>
