:host {
  display: block;
}

.loginForm {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}
.spinner-wrapper {
  width: 20px;
  height: 20px;
  display: inline-block;
}
