<p>login works!</p>

<form [formGroup]="loginForm">
  <mat-form-field>
    <input matInput formControlName="login" placeholder="Mail" />
    <mat-error *ngIf="showLoginEmailError()">
      Email is not valid!
    </mat-error>
    <mat-error *ngIf="showLoginRequiredError()">
      Login is required!
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      formControlName="password"
      type="password"
      placeholder="Password"
    />
    <mat-error *ngIf="showPasswordRequiredError()">
      Password is required!
    </mat-error>
  </mat-form-field>
</form>

<div *ngIf="waitingForServer | async">
  Loading...
</div>
<button
  mat-button
  (click)="login()"
  [disabled]="!loginForm.valid || (waitingForServer | async)"
>
  Login
</button>
<button mat-button (click)="back()">Back</button>
